<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <%- include('partials/scripts.ejs') %> <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigationLogins.ejs') %>

    <section>
      <form action="/usuarios" method="post">
        <h2>Registro</h2>

        <label for="ipNombre">Nombre(s)</label>
        <input id="ipNombre" name="nombre" type="text" required />

        <label for="ipApellido">Apellidos</label>
        <input id="ipApellido" name="apellido" type="text" required />

        <label for="ipEmail">Correo Electrónico</label>
        <input id="ipEmail" name="email" type="email" required />

        <label for="ipPwd">Contraseña</label>
        <input id="ipPwd" name="password" type="password" required />

        <label for="ipPwd2">Confirmar Contraseña</label>
        <input id="ipPwd2" name="password2" type="password" required />

        <input type="submit" value="Enviar" class="btn btn-primary" />
      </form>
    </section>

    <%- include('partials/alerts.ejs') %>
    <!-- Agregar script de Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
