/* main.css */
body {
  background-color: #f4f4f4; 
  background-image:  url("https://images.pexels.com/photos/30746908/pexels-photo-30746908/free-photo-of-la-torre-de-la-doncella-al-anochecer-en-estambul.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover; 
  background-position: center;
}